body {
	font-family: 'Didot', serif;
	font-weight:400;
}

header {
	width:100%;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom:5px;
}

#logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 60px;
}

.wrapper {
	width:100%;
	margin: 0 auto;
	max-width: 1024px;
}

.text{
	max-width: 65%;
	font-size:20px;
}

h3{
	font-weight: 400;
}

#error{
	color:#86003a;
}

.center, .left, .right{
	float:left;
	margin:5%;
	width:23.3%;
	padding:0;
}

input[type="text"] {
  padding: 8px;
  margin: 5px;
  border: solid 5px #ff0000;
  transition: border 0.3s;
  color:#86003a;
  font-size:20px;

}

::-webkit-input-placeholder {
    color: #c9c9c9;
    text-transform: uppercase;
   	font-weight:400;
   	letter-spacing: 1.5px;
   	font-size:10px;
}

:placeholder-shown {
  	color: #c9c9c9;
  	text-transform: uppercase;
   	font-weight:400;
   	letter-spacing: 1.5px;
   	font-size:10px;
}

#button{
	text-decoration: none;
	text-transform: lowercase;
	font-weight: 700;
	color: white;
	background-color: blue;
	padding: 8px;
	padding-left:20px;
	padding-right:20px;
	margin: 5px;
	border: solid 2px black;
	letter-spacing: 1.5px;
}

.resultText{
	font-weight:700;
	color:#86003a;
}

footer{
	padding:50px;
}
